/*[src/components/MessageList.css]*/
.message-list {
  border-radius: 8px;
  overflow-y: auto;
  padding: 10px;
  flex: 1;
}

.empty-message {
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  color: #aaa;
}
